.main-header {
    display: flex;
    justify-content: space-around;
}

.main-header img {
    max-height: 7vh;
}

.header-bar {
    background-color: #fbfcc9;
    border: solid;
    border-color: #ffd000;
    border-width: 4px;
    border-radius: 50px;
}

.home-link {
    text-decoration: none;
    color: #22244f;
    font-family: Perpetua;
    font-size: 50px;
    font-style: italic;
    font-variant: small-caps;
    font-weight: 700;
}

.space-maker {
    height: 30px;
    width: 80px;
}

body {
    background-color: #ffffb3;

}

.picture-container {
    margin: 10vw 2vw 2vw 2vw;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.picture-container img {
    max-width: 30vw;

}

.index-image {
    border: solid;
    border-color: #ffd000;
    border-width: 4px;
    border-radius: 50px;
    height: 200px;
    width: 200px;
}

.popUpLearning {
    position: absolute;
    left: -100vw;
    width: 100%;
    height: 100%;
    background-color: rgba(238, 227, 167, 0.52);
    z-index: 1.5;
    top: 0;
}

.popUpLearning .learningInfo {
    background-color: rgb(17, 0, 255, 1 );
    width: 75vw;
    height: 75vh;
    z-index: 1.75;
    margin-right: 12.5vw;
    margin-left: 12.5vw;
    margin-top: 12.5vh;
    margin-bottom: 12.5vh;
}

button {
    width: 3vw;
    height: 1vh;
}

@keyframes showPopUp {
    from {left: -50vw;}
    to {left: 0vw;}
}

#popUpLearningShown {
    left: 0vw;
    animation-name: showPopUp;
    animation-duration: .5s;
}

@keyframes hidePopUp {
    from {left: 0vw;}
    to {left: -100vw;}
}

#hidePopUp {
    left: -100vw;
    animation-name: hidePopUp;
    animation-duration: .5s;
}

.footer-bar {
    display: flex;
    justify-content: space-around;
}

p{
    text-decoration: none;
    color: #101e51;
    font-family: Perpetua;
    font-size: 20px;
    font-style: italic;
    font-variant: small-caps;
    font-weight: 700;
}

.thumbPics
{
    width: 200px;
    height: 200px;
    border-radius: 50px;
}

.credits
{
    display: flex;
    align-items: center;
    justify-content: center;
}
