.main-header {
    display: flex;
    justify-content: space-around;
}

.main-header img {
    max-height: 7vh;
}

.header-bar {
    background-color: #fbfcc9;
    border: solid;
    border-color: #ffd000;
    border-width: 4px;
    border-radius: 50px;
}

.home-link {
    text-decoration: none;
    color: #22244f;
    font-family: Perpetua; 
    font-size: 50px; 
    font-style: italic; 
    font-variant: small-caps; 
    font-weight: 700; 
}

.space-maker {
    height: 30px;
    width: 80px;
}

body {
    background-color: #fbfcc9;
}

.picture-container {
    margin: 10vw 2vw 2vw 2vw;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.picture-container img {
    max-width: 30vw;

}

.index-image {
    border: solid;
    border-color: #ffd000;
    border-width: 4px;
    border-radius: 50px;
    height: 200px;
    width: 200px;
}

.footer-bar {
    display: flex;
    justify-content: space-around;
}

p{
    text-decoration: none;
    color: #101e51;
    font-family: Perpetua; 
    font-size: 20px; 
    font-style: italic; 
    font-variant: small-caps; 
    font-weight: 700; 
}

#ffd000
